:root {
    --primario: #d63e3e;
    --bg-fondo-btn: #bb3636;
    --blanco: #FFF;
    --negro: #000000;
    --bg-fondo: #2e2e2e;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: var(--blanco)
;}
img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 140rem;
    width: 90%;
    margin: 0 auto;
}

/* Utilidades */
.alert {
    font-size: 2.5rem;
    padding: 3rem 0;
    text-align: center;
    border-radius: 1rem;
}

.alert-info {
    background-color: rgba(183, 228, 236, 0.897);
}

.alert-danger {
    background-color: rgb(235, 145, 145);
}


/* Estilos al Header */
.header {
    background-color: var(--bg-fondo);
    color: var(--blanco);
}

.header__barra {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) { 
    .header__barra {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 2rem;
        align-items: center;
    }
}




.header__texto {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
    letter-spacing: -.3rem;
}

@media (min-width: 768px) { 
    .header__texto {
        font-size: 4rem;
        margin: 0;
        line-height: 0;
    }
}

.header__texto--color {
    color: var(--primario);
    font-size: 7rem;
    margin-left: .5rem;
}

@media (min-width: 768px) { 
    .header__texto--color {
        color: var(--primario);
        font-size: 5rem;
    }
}


@media (min-width: 768px) { 
    .header__navegacion {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.navegacion  {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    font-size: 2rem;
}

@media (min-width: 768px) { 
    .navegacion  {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin-left: 4rem;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.navegacion__link {
    /* padding: 0 2rem; */
}

.navegacion__link--active {
    color: var(--primario);
    font-weight: 700;
}

.header__access {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__logout {
    margin: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__logout span {
    display: none;
}

.header__logout::before {
    content: '';
    display: flex;
    background-image: url(img/logout.png);
    background-repeat: no-repeat;
    background-size: 80%;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;    
}

.header__user {
    font-size: 2rem;
    border-bottom: 1px solid var(--primario);
    line-height: 1.5;
}


/* Estilos al HomePage */
.principal-heroes {
    background-image: url(/public/img/img-heroes-principal.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: bottom;
    height: 30rem;
    margin: 4rem 0 0;
    
}

@media (min-width: 490px) { 
    .principal-heroes {           
        background-size: 80%;
        height: 32rem;
        background-position: bottom;
    }
}

@media (min-width: 600px) { 
    .principal-heroes {           
        background-size: 80%;
        height: 35rem;
        background-position: bottom;
    }
}

@media (min-width: 768px) { 
    .principal-heroes {   
        display: flex;    
        justify-content: center;    
        align-items: end;
        background-size: 80%;
        height: 50rem;
        background-position: center;
    }
}

@media (min-width: 992px) { 
    .principal-heroes {           
        background-size: 70%;
    }
}

.principal-heroes__titulo {
    background-color: #d63e3ef5;
    color:  var(--blanco);
    padding: 3rem 4rem;
    border-radius: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin: 0 3rem;
}

@media (min-width: 768px) { 
    .principal-heroes__titulo {
        background-color: #d63e3ef5;
        color:  var(--blanco);
        padding: 3rem 15rem;
        border-radius: 2rem;
    }
}

/* Estilos a la pagina de comics  */
.header-comics {
    display: flex;
    align-items: center;
    border-bottom: .1rem solid var(--primario);
    margin: 3rem 0;
}

.header-comics__logo {
    width: 20%;
    margin-right: 2rem;
}

@media (min-width: 768px) { 
    .header-comics__logo {
        width: 8%;        
    }
}

.header-comics__titulo {
    font-size: 3rem;
}

@media (min-width: 768px) { 
    .header-comics__titulo {
        font-size: 4.5rem;
    }
}

/* Estilos a la pagina de busqueda */
.busqueda {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;

}

.busqueda__caja {
}

.busqueda__form {
    
}

.busqueda__campo {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: .1rem solid #c5c2c2;
    font-size: 2rem;
}

.busqueda__input {
    padding: 1rem 4rem;
    font-size: 2rem;
    margin-top: 2rem;
    border-radius: .5rem;
    background-color: var(--primario);
    border: none;
    color: var(--blanco);
    cursor: pointer;
    transition-property: background;
    transition-duration: 300ms;
}

.busqueda__input:hover {
    background-color:  var(--bg-fondo-btn);
}


/* Estilos al HeroCard */
@media (min-width: 768px) { 
    .hero-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem
    }
}

@media (min-width: 1000px) { 
    .hero-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


.card__contenido {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 1rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    background-color: #cacaca;
    border-radius: .5rem;
    box-shadow: 0px 2px 3px 0px rgba(74,74,74,1);
    height: 42rem;
}



.card__img {
    height: 42rem;
    object-fit: cover;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

@media (min-width: 768px) { 
    .card__contenido {
        padding-bottom: 0;
    }

}

.card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card__title {
    margin: 2rem 0;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.card__text {
    margin: 0;
    line-height: 1.5;
    font-size: 1.8rem;
}

.card__btn {
    display: block;
    margin-top: 3rem;
    background-color: #b8b6b6;
    width: 90%;
    padding: .5rem;
    text-align: center;
    border-radius: .5rem;
    cursor: pointer;
}