:root {
    --primario: #d63e3e;
    --blanco: #FFF;
    --negro: #000000;
    --bg-fondo: #2e2e2e;
    --fuentePrincipal: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 2rem 0;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 3rem;
}
a {
    text-decoration: none;
    color: var(--blanco)
;}
img {
    max-width: 100%;
    display: block;
}

/* Utilidades */



/* Estilos al Header */
.header {
    background-color: var(--bg-fondo);
    color: var(--blanco);
}

.header__barra {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) { 
    .header__barra {
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 0 2rem;
        align-items: center;
    }
}




.header__texto {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
    letter-spacing: -.3rem;
    line-height: 0;
}

@media (min-width: 768px) { 
    .header__texto {
        font-size: 4rem;
        margin: 0;
    }
}

.header__texto--color {
    color: var(--primario);
    font-size: 7rem;
    margin-left: .5rem;
}

@media (min-width: 768px) { 
    .header__texto--color {
        color: var(--primario);
        font-size: 5rem;
    }
}


@media (min-width: 768px) { 
    .header__navegacion {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.navegacion  {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    font-size: 2rem;
}

@media (min-width: 768px) { 
    .navegacion  {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin-left: 4rem;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.navegacion__link {
    /* padding: 0 2rem; */
}

.navegacion__link--active {
    color: var(--primario);
    font-weight: 700;
}

.header__access {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header__logout {
    margin: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header__logout span {
    display: none;
}

.header__logout::before {
    content: '';
    display: flex;
    background-image: url(img/logout.png);
    background-repeat: no-repeat;
    background-size: 80%;
    margin: 0 auto;
    width: 5rem;
    height: 5rem;    
}

.header__user {
    font-size: 2rem;
    border-bottom: 1px solid var(--primario);
    line-height: 1.5;
}